@import '_variable.scss';
@import '_form.scss';

*{
    box-sizing: border-box;
    font-family: $font-primary;
}

body {
    margin: 0;
    padding: 0;
    background-color: $darkBlue;
}

::-webkit-scrollbar{
    width: 0.5rem;
 }
::-webkit-scrollbar-track{
    background-color: $darkBlue;
}
::-webkit-scrollbar-thumb{
    background-color: $cyan;
    border-radius:10px ;
}


//navbar ko scss
// .navbar {
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	align-items: center;
// 	padding: 0px 10px;
// 	position: fixed;
// 	width: 100%;
// 	z-index: 1000;
// 	background-color: $darkBlue;

// 	.logo {
// 		img {
// 			// position: fixed;
// 			max-height: $font-logo;
// 		}
// 	}
// 	.top {
// 		list-style: none;
// 		display: flex;
// 		flex-wrap: wrap;
// 		li {
// 			margin-left: 50px;
// 			font-size: $font-size-extralarge;

// 		}
// 	}

// 	li {
// 		a {
// 			color: $white;
// 			text-decoration: none;
// 			font-weight: $font-regular;
// 			background: linear-gradient(to left,$darkBlue 50%, $cyan 50%) right;
// 			background-size: 250%;
// 			transition: 0.5s ease-out;
// 			padding: 10px;
//             &:hover {
//                 background-color: $cyan;
//                 color: $darkBlue;
//                 border-radius: 5px;
//                 background-position: left;
//             }
// 		}
// 	}
// }

// .sticky-nav {
// 	position: fixed;
// 	right: 50px;
// 	bottom: 0px;
// 	padding: 5px;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	background: transparent;
// 	img{ width: 35px;
// }
// } 
// 	.sticky-nav {
// 		a {
// 			text-decoration: none;
// 			margin: 10px 0 10px 0;
// 		}
// 	}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0px 10px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: $darkBlue;
  
	.logo {
	  img {
		max-height: $font-logo;
	  }
	}
	.top {
	  list-style: none;
	  display: flex;
	  flex-wrap: wrap;
	  li {
		margin-left: 50px;
		font-size: $font-size-extralarge;
	  }
	}
  
	li {
	  a {
		color: $white;
		text-decoration: none;
		font-weight: $font-regular;
		background: linear-gradient(to left, $darkBlue 50%, $cyan 50%) right;
		background-size: 250%;
		transition: 0.5s ease-out;
		padding: 10px;
		&:hover {
		  background-color: $cyan;
		  color: $darkBlue;
		  border-radius: 5px;
		  background-position: left;
		}
	  }
	}
	.hamburger {
	  display: none;
	  flex-direction: column;
	  justify-content: space-around;
	  height: 24px;
	  width: 30px;
	  background: transparent;
	  border: none;
	  cursor: pointer;
  
	  span {
		width: 100%;
		height: 3px;
		background: $white;
	  }
	}
  
	.nav-links {
	  display: flex;
  
	  &.active {
		display: block;
	  }
	}
  }
  
  .sticky-nav {
	position: fixed;
	right: 50px;
	bottom: 0px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: transparent;
	
	img { 
	  width: 35px; 
	}
  
	a {
	  text-decoration: none;
	  margin: 10px 0 10px 0;
	}
  }

//intro section ko
.intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: $white;
	margin: 6rem 0 6rem 0;

}
.content {
	h1 {
		font-size: $font-size-2xl-large;
		font-weight: $font-light;
	}
	p {
		margin: 0 0 10px 0;
		font-size: $font-size-extralarge;
		font-weight: $font-extralight;
	}
	ul {
		li {
			font-size: $font-size-extralarge;
			font-weight: $font-extralight;
		}
	}
}
.image {
	img {
		width: 400px;
		height: 450px;
		display: block;
		filter: grayscale(100%);
		&:hover {
			transition: 0.5s;
			filter: grayscale(0%);
		}
	}
}


//details ko scss

.services {
	text-align: center;
	color: $white;
	h1 {
		font-size: $font-size-2xl-large;
		font-weight: $font-light;
	}
	p {
		margin: auto;
		width: 680px;
		font-size: $font-size-large;
		font-weight: $font-extralight;
		margin-bottom: 40px;
	}
}
.rows {
	color: $white;
	margin: 0 0 6rem 0;
	cursor: pointer;
}
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: space-around;
	:hover{
		transform: scale(1.05);
	}
}
.card1 {
	background-color: $darkPurple;
	width: 300px;
	height: 300px;
	&:hover {
		background-color: $lightPurple;
		transition: 0.5s;
	}
	img {
		height: 50px;
		width: 45px;
		margin: 50px 0 0 50px;
	}
	p {
		font-size: $font-size-xl-large;
		font-weight: $font-light;
		align-items: center;
		margin: 20px 0 0 50px;
	}
}
.card2 {
	background-color: $darkPurple;
	width: 300px;
	height: 300px;
	&:hover {
		background-color: $lightPurple;
		transition: 0.5s;
	}
	img {
		height: 50px;
		width: 45px;
		margin: 50px 0 0 50px;
	}
	p {
		font-size: $font-size-xl-large;
		font-weight: $font-light;
		align-items: center;
		margin: 20px 0 0 50px;
	}
}
.card3 {
	background-color: $darkPurple;
	width: 300px;
	height: 300px;
	&:hover {
		background-color: $lightPurple;
		transition: 0.5s;
	}
	img {
		height: 50px;
		width: 45px;
		margin: 50px 0 0 50px;
	}
	p {
		font-size: $font-size-xl-large;
		font-weight: $font-light;
		align-items: center;
		margin: 20px 0 0 50px;
	}
}

//projects ko scss
.project {
	color: $white;
	h1 {
		font-size: $font-size-2xl-large;
		font-weight: $font-light;
		text-align: center;
	}
}
.projectItems {
	display: flex;
	color: $white;
	gap: 3rem;
	margin: 0 0 8rem 0;
	.todo1 {
		width: 100%;
		height: 400px;
		img {
			width: 100%;
			height: 400px;
			cursor: pointer;
			filter: grayscale(100%);
			&:hover {
				transition: 0.5s;
				filter: grayscale(0%);
			}
		}
	}
	.todo2 {
		width: 100%;
		height: 400px;
		img {
			width: 100%;
			height: 400px;
			cursor: pointer;
			filter: grayscale(100%);
			&:hover {
				transition: 0.5s;
				filter: grayscale(0%);
			}
		}
	}
}
.todoContent1 {
	width: 50%;
	img{ width: 30px;
    }
	p {
		font-size: $font-size-large;
		font-weight: $font-extralight;
	}
		h1 {
			font-size: $font-size-x-large;
			font-weight: $font-light;
			display: inline;
		}
	}

	.todoContent2 {
        width: 50%;
        img{ width: 30px;
        }
		h1 {
			font-size: $font-size-x-large;
			font-weight: $font-light;
			display: inline;
		}
	p {
		font-size: $font-size-large;
		font-weight: $font-extralight;
	}
}
.projects-container {
    text-align: center;
	margin: 0 0 6rem 0;
    background-color: $darkBlue;
    color: $white;
  
    .title {
		font-size: $font-size-xl-large;
		font-weight: $font-light;
		text-align: center;
    }
  
    .projects {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  
      .project-card {
        background-color: $darkPurple;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        width: 300px;
		&:hover {
			background-color: $lightPurple;
			transition: 0.5s;
			transform: scale(1.05);
		  }
  
        .project-icon {
          font-size: 3rem;
		  text-align: start;
          margin-bottom: 10px;
        }
  
        .project-title {
			font-size: $font-size-x-large;
			font-weight: $font-regular;
			text-align: start;
			margin: 10px 0;
        }
  
        .project-description {
			font-size: $font-size-medium;
			font-weight: $font-extralight;
			text-align: start;
          margin-bottom: 20px;
        }
  
        .project-links {
			text-align: start;
          a {
            color: $white;
            font-size: 1.5rem;
          }
        }
  
        .project-tags {
          font-size: $font-size-medium;
		  font-weight: $font-extralight;
          color: $white;
        }
      }
    }
  }
  
//contacts ko scss
.getInTouch {
	text-align: center;
	color: $white;
	display: inline;
	h1 {
		font-size: $font-size-2xl-large;
		font-weight: $font-light;
	}
	p {
		width: 100%;
		font-size: $font-size-large;
		font-weight: $font-extralight;
		margin-bottom: 40px;
	}
}

.information {
	margin: 0 0 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;

.formPage {
    /* form ko input  */
    // input, textarea{
    //     color: $white;
    //     font-size: $font-size-medium;
	// 	border-radius: 5px;
    //     }


	.info {
	width: 950px;
	
	.fullName {
		background: transparent;
		border: 2px solid $cyan;
		height: 50px;
		padding: 1rem;
		&::placeholder {
			font-size: $font-size-medium;
		}
	}

	.email {
	background: transparent;
	border: 2px solid $cyan;
	height: 50px;
	padding: 1rem;
	&::placeholder {
		font-size: $font-size-medium;
	}
}
	.pNumber {
	background: transparent;
	border: 2px solid $cyan;
	height: 50px;
	padding: 1rem;
	&::placeholder {
		font-size: $font-size-medium;
	}
}

// .message {
	.yourMessage {
		background: transparent;
		border: 2px solid $cyan;
		padding: 1rem;
	
	&::placeholder {
		font-size: $font-size-medium;
	}
}
// }
}
}
}

//footer ko scss
.designer {
	color: $white;
	font-size: $font-size-medium;
	font-weight: $font-light;
	text-align: center;
	margin: auto;
	width: 400px;
	&:hover {
		color: $cyan;
		cursor: default;
	}
}