	$black: #000000;
	$white: #ffffff;
	$darkBlue: #03001C;
	$darkPurple: #301e67;
	$lightPurple: #5B8FB9;
	$cyan: #B6EADA;
	$red: #ff0000;
	$font-primary: "Poppins", sans-serif;
	$font-extralight: 200;
	$font-light: 300;
	$font-regular: 400;
	$font-bold: 500;
	$font-size-small: 12px;
	$font-size-medium: 14px;
	$font-size-large: 16px;
	$font-size-extralarge: 18px;
	$font-size-extra-x-large: 22px;
	$font-size-x-large: 25px;
	$font-size-xl-large: 32px;
	$font-size-2xl-large: 40px;
	$font-size-3xl-large: 50px;
	$font-logo: 4rem;