
::-webkit-scrollbar{
    width: 0.5rem;
 }
::-webkit-scrollbar-track{
    background-color: $darkBlue;
}
::-webkit-scrollbar-thumb{
    background-color: $cyan;
    border-radius:10px ;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $darkBlue inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
