<div class="intro">
    <!-- intro -->
    <section class="content">
        <h1>Hello, I am <br>Prashansa Sunuwar</h1>
        <p>
            I enjoy creating things that live on the internet. <br>
            Here are a few technologies I've been working with recently:
        </p>
        <ul>
            <li>JavaScript</li>
            <li>MySQL</li>
            <li>PHP (Laravel)</li>
            <li>C, C++</li>
        </ul>
        <div class="buttons">
            <!-- <a class="mailTo" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=psunuwar100@gmail.com" target="_blank"><button class="btn primary">Hire Me</button></a> -->
            <!-- <a class="download" href="assets/Prashansa Sunuwar.pdf" download=""><button class="btn secondary">Download CV</button></a> -->
            <app-button label="Hire Me" type="button" additionalClasses="btn primary" url="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=psunuwar100@gmail.com"></app-button>
            <app-button label="Download CV" type="button" additionalClasses="btn secondary" url="assets/images/Prashansa Sunuwar.pdf"></app-button>
        </div>
    </section>

    <!-- image section -->
    <section class="image">
        <img src="../../assets/images/choso1.jpg" alt="Sample Image">
    </section>
</div>