<section class="services" id="services">
    <h1>Services</h1>
    <p>I'm a full stack developer and UI/UX Designer with a passion for creating dynamic and engaging web
        applications. I specialize in both front-end and back-end development, and am comfortable working with a
        wide range of technologies and frameworks.</p>
</section>

<!-- cards ko part -->
<section class="rows">
    <div class="cards">
        <div class="card1">
            <img src="../../assets/images/ux-design1.png" alt="">
            <p>UI/UX <br> Designer</p>
        </div>
        <div class="card2">
            <img src="../../assets/images/code1.png" alt="">
            <p>Front-End<br> Developer</p>
        </div>
        <div class="card3">
            <img src="../../assets/images/backend.png" alt="">
            <p>Back-End <br> Developer</p>
        </div>
        
    </div>
</section>